-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: suivi_pedagogique
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activities`
--

DROP TABLE IF EXISTS `activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activities` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date` date NOT NULL,
  `commune` varchar(160) COLLATE utf8mb4_unicode_ci NOT NULL,
  `etablissement_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `etablissement_nom` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `responsable_nom` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `objet` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` json NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `etablissement_id` (`etablissement_id`),
  KEY `idx_activities_date` (`date`),
  KEY `idx_activities_type` (`type`),
  CONSTRAINT `activities_ibfk_1` FOREIGN KEY (`etablissement_id`) REFERENCES `etablissements` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activities`
--

LOCK TABLES `activities` WRITE;
/*!40000 ALTER TABLE `activities` DISABLE KEYS */;
/*!40000 ALTER TABLE `activities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `annees_scolaires`
--

DROP TABLE IF EXISTS `annees_scolaires`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `annees_scolaires` (
  `id` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `libelle` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_debut` date NOT NULL,
  `date_fin` date NOT NULL,
  `est_active` tinyint(1) NOT NULL DEFAULT '0',
  `statut` enum('en_cours','cloturee','a_venir') COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `annees_scolaires`
--

LOCK TABLES `annees_scolaires` WRITE;
/*!40000 ALTER TABLE `annees_scolaires` DISABLE KEYS */;
INSERT INTO `annees_scolaires` VALUES ('2023-2024','2023/2024','2023-09-01','2024-07-31',0,'cloturee','du 1er septembre 2023 au 31 juillet 2024'),('2024-2025','2024/2025','2024-09-01','2025-07-31',0,'cloturee','du 1er septembre 2024 au 31 juillet 2025'),('2025-2026','2025/2026','2025-09-01','2026-07-31',0,'cloturee','Ann├®e scolaire pr├®c├®dente (du 1er septembre 2025 au 31 juillet 2026)'),('2026-2027','2026/2027','2026-09-01','2027-07-31',1,'en_cours','Ann├®e scolaire en cours (du 1er septembre 2026 au 31 juillet 2027)');
/*!40000 ALTER TABLE `annees_scolaires` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `communes`
--

DROP TABLE IF EXISTS `communes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `communes` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom_ar` varchar(160) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom_fr` varchar(160) COLLATE utf8mb4_unicode_ci NOT NULL,
  `province` varchar(160) COLLATE utf8mb4_unicode_ci NOT NULL,
  `region` varchar(160) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `communes`
--

LOCK TABLES `communes` WRITE;
/*!40000 ALTER TABLE `communes` DISABLE KEYS */;
INSERT INTO `communes` VALUES ('ait-melloul','Ïú┘èÏ¬ ┘à┘ä┘ê┘ä','A├»t Melloul','Inzegane - A├»t Melloul','Souss-Massa'),('dcheira','Ïº┘äÏ»Ï┤┘èÏ▒Ï® Ïº┘äÏ¼┘çÏºÏ»┘èÏ®','Dcheira El Jihadia','Inzegane - A├»t Melloul','Souss-Massa'),('inzegane','ÏÑ┘åÏ▓┘âÏº┘å','Inzegane','Inzegane - A├»t Melloul','Souss-Massa'),('lqliaa','Ïº┘ä┘é┘ä┘èÏ╣Ï®','Lqliaa','Inzegane - A├»t Melloul','Souss-Massa'),('oulad-dahou','Ïú┘ê┘äÏºÏ» Ï»Ï¡┘ê','Oulad Dahou','Inzegane - A├»t Melloul','Souss-Massa'),('temsia','Ï¬┘àÏ│┘èÏ®','Temsia','Inzegane - A├»t Melloul','Souss-Massa');
/*!40000 ALTER TABLE `communes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enseignants`
--

DROP TABLE IF EXISTS `enseignants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `enseignants` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `doti` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom_fr` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `etablissement_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `etablissement_nom` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `commune` varchar(160) COLLATE utf8mb4_unicode_ci NOT NULL,
  `grade` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `matiere` varchar(160) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cycle` enum('ÏºÏ╣Ï»ÏºÏ»┘è','Ï¬Ïú┘ç┘è┘ä┘è') COLLATE utf8mb4_unicode_ci NOT NULL,
  `actif` tinyint(1) NOT NULL DEFAULT '1',
  `telephone` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_naissance` date DEFAULT NULL,
  `date_recrutement` date DEFAULT NULL,
  `echelon` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `derniere_note` decimal(5,2) DEFAULT NULL,
  `derniere_annee_inspection` smallint DEFAULT NULL,
  `derniere_date_inspection` date DEFAULT NULL,
  `remarques` text COLLATE utf8mb4_unicode_ci,
  `emploi_du_temps` json DEFAULT NULL,
  `promotion_echelon` tinyint(1) NOT NULL DEFAULT '0',
  `promotion_grade` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `doti` (`doti`),
  KEY `etablissement_id` (`etablissement_id`),
  KEY `idx_enseignants_matiere` (`matiere`),
  CONSTRAINT `enseignants_ibfk_1` FOREIGN KEY (`etablissement_id`) REFERENCES `etablissements` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enseignants`
--

LOCK TABLES `enseignants` WRITE;
/*!40000 ALTER TABLE `enseignants` DISABLE KEYS */;
/*!40000 ALTER TABLE `enseignants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etablissements`
--

DROP TABLE IF EXISTS `etablissements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etablissements` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom_ar` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom_fr` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `commune` varchar(160) COLLATE utf8mb4_unicode_ci NOT NULL,
  `commune_fr` varchar(160) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` enum('college','lycee','qualifiant') COLLATE utf8mb4_unicode_ci NOT NULL,
  `est_pionnier` tinyint(1) NOT NULL DEFAULT '0',
  `direction_provinciale` varchar(160) COLLATE utf8mb4_unicode_ci NOT NULL,
  `academie` varchar(160) COLLATE utf8mb4_unicode_ci NOT NULL,
  `code_etab` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `adresse` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telephone` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `directeur_nom` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  `date_creation` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_etablissements_direction` (`direction_provinciale`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etablissements`
--

LOCK TABLES `etablissements` WRITE;
/*!40000 ALTER TABLE `etablissements` DISABLE KEYS */;
/*!40000 ALTER TABLE `etablissements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `prenom` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('admin','inspecteur','consultation') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'inspecteur',
  `academie` varchar(160) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `direction` text COLLATE utf8mb4_unicode_ci,
  `directions_provinciales` json DEFAULT NULL,
  `matiere` varchar(160) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `specialite` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `avatar` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telephone` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bureau` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `doti` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `must_change_password` tinyint(1) NOT NULL DEFAULT '1',
  `last_login` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-09  1:36:39
